.jumbotron {
  padding-top: 6rem;
  background-color: #37e47f;
}

#sertifikat {
  background-color: #37e47f;
}

#about {
  margin-top: 15rem;
  padding-top: 6rem;
  background-color: #37e47f;
}

section {
  padding-top: 5rem;
}